body {
  height: 100vh;
  background: url(https://media.pocketmonsters.net/imageboard/50/12278290030092.jpg);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-darkBlue {
  background-color: rgba(3, 45, 184, 0.815);
}

/* NOTE Cynthia */
.click-box {
  width: 425px;
  height: 425px;
}

/* NOTE total box */
.count-box {
  width: 335px;
  height: 95px;
  background-color: rgba(3, 45, 184, 0.815);
}

.poke-box {
  width: 65px;
  height: 65px;
}

/* NOTE side panels */
.small-box {
  width: 165px;
  height: 55px;
  background-color: rgba(3, 45, 184, 0.815);
}

/* NOTE modifiers */
.modifier-box {
  width: 40px;
  height: 40px;
}

.upgrade-box {
  width: 50px;
  height: 50px;
}